{
    "env": {
        "browser": false,
        "es6": true
    },
    "plugins": [
        "react"
    ],
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    },
    "rules": {
        "react/jsx-uses-react": 1
    }
}
